div{
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
.one{
    border: 1px splid balck;
    background-color: lightgreen;
    padding: 25px 50px 75px 100px;
}
.two{
    border: 1px solid black;
    background-color: rgb(223, 104, 104);
    padding: 25px 50px 75px;
}
.three{
    border: 1px solid black;
    background-color: rgb(223, 111, 182);
    padding: 25px 50px;
}
.four{
    border: 1px solid black;
    background-color: rgb(212, 122, 89);
    padding: 25px;
}